@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
	background-image: url("ohana.png");
	margin: 0 auto;
    padding: 0;
}

.main-contents {
	margin: 0 auto;
	background-color: #fffdee;
	height: 100%;
	width: 800px;
}

.tweet-box {
	width: 780px;
	height: 56px;
}

.header {
	text-align: right;
	font-family: 'M PLUS Rounded 1c', sans-serif
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Sacramento', cursive;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #fffdee;
	font-size: 20px
	font-family: 'M PLUS Rounded 1c', sans-serif;
	border-color : #15adc1;
	border-style: dotted;
	border-width: medium thin;
}
.form-area p {
	border-color : #15adc1;
	border-style: solid

}
.button {
  margin:0 auto;
  position: relative;
  display: inline-block;
  padding: .4em 2em;
  background: -webkit-linear-gradient(#15adc1 , #15adc1);
  background: linear-gradient(#15adc1 , #15adc1);
  border: 1px solid #15adc1;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}
 .butten p{
 text-align: center;
  width: 40px;
  height: 35px;
}
.button:after {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  content: '';
  border: 2px dashed #fff;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
}
.message-text {
	position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}

.box25 pre {
    margin: 0;
    padding: 0;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.message-icon .text {
	height: 50px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.message-icon .message {
	margin-left: 60px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.comment {
    position: relative;
    padding: 0.25em 1em;
    margin: 2em 0;
    top: 0;
    background: #fffdee;
}
.comment:before, .box20:after{
    position: absolute;
    top: 0;
    content:'';
    width: 10px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.comment:before{
    border-left: dotted 2px #15adc1;
    border-top: dotted 2px #15adc1;
    border-bottom: dotted 2px #15adc1;
    left: 0;
}
.comment:after{
    border-top: dotted 2px #15adc1;
    border-right: dotted 2px #15adc1;
    border-bottom: dotted 2px #15adc1;
    right: 0;
}
.comment pre {
    margin: 0;
    padding: 0;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
.date{
	font-weight: lighter;
	color: gray;
	font: small-caption;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
